.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Your updated App.css with modified hero image styles */

/* Include the Poppins font-family for the whole document */
body {
  font-family: "Poppins", Arial, sans-serif;
}

.navbar {
  padding: 5rem 0; /* Padding 5x top and bottom */
  background-color: white; /* White background */
  color: #777; /* Grey font color */
  /* Rest of your navbar styles */
}

.hero-image {
  width: 100%;
  max-height: 400px; /* Set a maximum height for the hero image */
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintain the aspect ratio and cover the entire container */
}
